<%= simple_form_for [event, group], html: { class: "box" } do |f| %>
  <%= render "shared/errors", record: group %>

  <p class="help mb-4">
    <%= t("groups.form.capacity_hint", seats: event.max_group_size, overbooking: event.max_overbooking) %>
  </p>

  <div class="columns">
    <div class="column">
      <div class="field">
        <%= f.label :date, class: "label" %>
        <div class="control">
          <%= f.date_field :date, class: "input" %>
        </div>
        <%= f.error :date, wrap_with: { tag: "p", class: "help is-danger" } %>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <%= f.label :time, class: "label" %>
        <div class="control">
          <%= f.time_field :time, class: "input" %>
        </div>
        <%= f.error :time, wrap_with: { tag: "p", class: "help is-danger" } %>
      </div>
    </div>
    <div class="column">
      <%= f.input :status, collection: group_status_options,
            label_method: :first, value_method: :last, include_blank: false %>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <%= f.input :max_group_size,
            input_html: { min: 1, placeholder: t("groups.form.inherited", value: event.max_group_size) } %>
    </div>
    <div class="column">
      <%= f.input :max_overbooking,
            input_html: { min: 0, placeholder: t("groups.form.inherited", value: event.max_overbooking) } %>
    </div>
    <div class="column">
      <%= f.input :notify_days_before,
            input_html: { min: 0, placeholder: t("groups.form.inherited", value: event.notify_days_before) } %>
    </div>
  </div>

  <%= f.input :notes, input_html: { rows: 4 } %>

  <div class="field is-grouped">
    <div class="control">
      <%= f.submit t("actions.save"), class: "button is-primary" %>
    </div>
    <div class="control">
      <%= link_to t("actions.cancel"), event_path(event), class: "button is-light" %>
    </div>
  </div>
<% end %>
