<% content_for :title, t(".title") %>
<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<div class="level">
  <div class="level-left">
    <h1 class="title level-item"><%= t(".title") %></h1>
  </div>
</div>

<% if @groups.any? %>
  <div class="table-container">
    <table class="table is-fullwidth is-hoverable">
      <thead>
        <tr>
          <th><%= t(".group_schedule") %></th>
          <th><%= Event.model_name.human %></th>
          <th><%= responsive_label(Group.human_attribute_name(:people_count), t(".people_count_short")) %></th>
          <th><%= responsive_label(t(".available_seats"), t(".available_seats_short")) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <% requested_count = @requested_counts.fetch(group.id, 0) %>
          <tr class="clickable-row">
            <td class="group-datetime">
              <span class="group-datetime-day"><%= l(group.date, format: :weekday_abbr) %></span>
              <span class="group-datetime-date"><%= l(group.date, format: :day_month) %></span>
              <span class="group-datetime-time"><%= l(group.time, format: :hour_minute) %></span>
            </td>
            <td class="group-event">
              <%= link_to group.event.short_name_or_title, event_group_path(group.event, group),
                    class: "row-link has-text-weight-medium" %>
            </td>
            <td><%= group.people_count %></td>
            <td><%= seats_left_tag(group) %></td>
            <td class="has-text-right">
              <div class="tags is-justify-content-flex-end mb-0">
                <% to_notify_count = @to_notify_counts.fetch(group.id, 0) %>
                <%= to_notify_tag(to_notify_count) if group.within_notify_window? && to_notify_count.positive? %>
                <%= to_process_tag(requested_count) if requested_count.positive? %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="notification is-light">
    <%= t(".empty") %>
  </div>
<% end %>

<% if @requested_reservations.any? %>
  <h2 class="subtitle mt-5"><%= t(".pending_reservations") %></h2>
  <div class="table-container">
    <table class="table is-fullwidth is-hoverable">
      <thead>
        <tr>
          <th><%= Reservation.human_attribute_name(:full_name) %></th>
          <th><%= Event.model_name.human %></th>
          <th><%= t(".group_schedule") %></th>
          <th><%= t(".adults_short") %></th>
          <th><%= t(".kids_short") %></th>
          <th><%= Reservation.human_attribute_name(:price_to_pay) %></th>
          <th><%= Reservation.human_attribute_name(:status) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @requested_reservations.each do |reservation| %>
          <% group = reservation.group %>
          <% event = group.event %>
          <tr id="<%= dom_id(reservation) %>">
            <td><%= link_to reservation.full_name, event_group_reservation_path(event, group, reservation) %></td>
            <td><%= link_to event.title, event_path(event) %></td>
            <td><%= link_to group_label(group), event_group_path(event, group) %></td>
            <td><%= reservation.adults_count %></td>
            <td><%= reservation.kids_count %></td>
            <td><%= number_to_currency(reservation.price_to_pay) %></td>
            <td>
              <%= form_with model: [event, group, reservation], data: { controller: "autosubmit" } do |f| %>
                <%= hidden_field_tag :inline, "1" %>
                <div class="select is-small">
                  <%= f.select :status, reservation_status_options, {}, data: { action: "change->autosubmit#submit" } %>
                </div>
              <% end %>
            </td>
            <td class="has-text-right">
              <%= link_to action_icon(:edit), edit_event_group_reservation_path(event, group, reservation), class: "button is-small",
                    title: t("actions.edit"), "aria-label": t("actions.edit") %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
