<%= form_with model: event, class: "box" do |f| %>
  <%= render "shared/errors", record: event %>

  <div class="field">
    <%= f.label :title, class: "label" %>
    <div class="control">
      <%= f.text_field :title, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :short_name, class: "label" %>
    <div class="control">
      <%= f.text_field :short_name, class: "input" %>
    </div>
    <p class="help"><%= t(".short_name_hint") %></p>
  </div>

  <div class="columns">
    <div class="column">
      <h2 class="label"><%= t(".adults") %></h2>
      <div class="field">
        <%= f.label :adult_price, class: "label is-small" %>
        <div class="control">
          <%= f.number_field :adult_price, step: :any, min: 0, class: "input" %>
        </div>
      </div>
      <div class="field">
        <%= f.label :adult_ticket_price, class: "label is-small" %>
        <div class="control">
          <%= f.number_field :adult_ticket_price, step: :any, min: 0, class: "input" %>
        </div>
      </div>
      <div class="field">
        <%= f.label :adult_guided_tour_price, class: "label is-small" %>
        <div class="control">
          <%= f.number_field :adult_guided_tour_price, step: :any, min: 0, class: "input" %>
        </div>
      </div>
    </div>
    <div class="column">
      <h2 class="label"><%= t(".kids") %></h2>
      <div class="field">
        <%= f.label :kid_price, class: "label is-small" %>
        <div class="control">
          <%= f.number_field :kid_price, step: :any, min: 0, class: "input" %>
        </div>
      </div>
      <div class="field">
        <%= f.label :kid_ticket_price, class: "label is-small" %>
        <div class="control">
          <%= f.number_field :kid_ticket_price, step: :any, min: 0, class: "input" %>
        </div>
      </div>
      <div class="field">
        <%= f.label :kid_guided_tour_price, class: "label is-small" %>
        <div class="control">
          <%= f.number_field :kid_guided_tour_price, step: :any, min: 0, class: "input" %>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <%= f.label :max_group_size, class: "label" %>
        <div class="control">
          <%= f.number_field :max_group_size, min: 1, class: "input" %>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <%= f.label :max_overbooking, class: "label" %>
        <div class="control">
          <%= f.number_field :max_overbooking, min: 0, class: "input" %>
        </div>
        <p class="help"><%= t("events.form.overbooking_hint") %></p>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :notes, class: "label" %>
    <div class="control">
      <%= f.text_area :notes, rows: 4, class: "textarea" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :description, class: "label" %>
    <div class="control">
      <%= f.text_area :description, rows: 4, class: "textarea" %>
    </div>
    <p class="help"><%= t(".public_hint") %></p>
  </div>

  <div class="field">
    <%= f.label :message_template, class: "label" %>
    <div class="control">
      <%= f.text_area :message_template, rows: 12, class: "textarea is-family-monospace" %>
    </div>
    <div class="message-template-help">
      <p class="help"><%= t(".message_intro_html") %></p>

      <p class="help has-text-weight-semibold mt-3"><%= t(".message_variables_title") %></p>
      <ul class="message-variables">
        <% Event::MESSAGE_VARIABLES.each do |variable| %>
          <li>
            <code class="erb-output">&lt;%= <%= variable %> %&gt;</code>
            <span><%= t(variable, scope: "events.form.message_variables") %></span>
          </li>
        <% end %>
      </ul>

      <p class="help has-text-weight-semibold mt-3"><%= t(".message_example_title") %></p>
      <pre class="erb-code"><%= highlight_erb(t(".message_example")) %></pre>
    </div>
  </div>

  <div class="field">
    <%= f.label :image, class: "label" %>
    <% if event.image.attached? %>
      <%= image_tag event.image.variant(resize_to_limit: [200, 200]), class: "event-image-thumb mb-2" %>
    <% end %>
    <div class="control">
      <%= f.file_field :image, accept: "image/png,image/jpeg,image/webp,image/gif", class: "input" %>
    </div>
    <p class="help"><%= t(".public_hint") %></p>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= f.submit t("actions.save"), class: "button is-primary" %>
    </div>
    <div class="control">
      <%= link_to t("actions.cancel"), events_path, class: "button is-light" %>
    </div>
  </div>
<% end %>
