<%= simple_form_for event, html: { class: "box" } do |f| %>
  <%= render "shared/errors", record: event %>

  <%= f.input :title %>
  <%= f.input :short_name, hint: t(".short_name_hint") %>

  <div class="columns">
    <div class="column">
      <h2 class="label"><%= t(".adults") %></h2>
      <%= price_input f, :adult_price %>
      <%= price_input f, :adult_ticket_price %>
      <%= price_input f, :adult_guided_tour_price %>
    </div>
    <div class="column">
      <h2 class="label"><%= t(".kids") %></h2>
      <%= price_input f, :kid_price %>
      <%= price_input f, :kid_ticket_price %>
      <%= price_input f, :kid_guided_tour_price %>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <%= f.input :max_group_size, input_html: { min: 1 } %>
    </div>
    <div class="column">
      <%= f.input :max_overbooking, hint: t("events.form.overbooking_hint"), input_html: { min: 0 } %>
    </div>
    <div class="column">
      <%= f.input :notify_days_before, hint: t(".notify_days_before_hint"), input_html: { min: 0 } %>
    </div>
  </div>

  <%= f.input :notes, input_html: { rows: 4 } %>
  <%= f.input :description, hint: t(".public_hint"), input_html: { rows: 4 } %>

  <div class="field">
    <%= f.label :message_template, class: "label" %>
    <div class="control">
      <div class="erb-editor" data-controller="erb-highlight">
        <pre class="erb-editor__highlight" data-erb-highlight-target="output" aria-hidden="true"></pre>
        <%= f.text_area :message_template, rows: 12,
              class: "textarea is-family-monospace erb-editor__input",
              spellcheck: false,
              data: { erb_highlight_target: "input",
                      action: "input->erb-highlight#render scroll->erb-highlight#sync" } %>
      </div>
    </div>
    <%= f.error :message_template, wrap_with: { tag: "p", class: "help is-danger" } %>
    <div class="message-template-help">
      <p class="help"><%= t(".message_intro_html") %></p>

      <p class="help has-text-weight-semibold mt-3"><%= t(".message_variables_title") %></p>
      <ul class="message-variables">
        <% Event::MESSAGE_VARIABLES.each do |variable| %>
          <li>
            <code class="erb-output">&lt;%= <%= variable %> %&gt;</code>
            <span><%= t(variable, scope: "events.form.message_variables") %></span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="field">
    <%= f.label :image, class: "label" %>
    <% if event.image.attached? %>
      <%= image_tag event.image.variant(resize_to_limit: [200, 200]), class: "event-image-thumb mb-2" %>
    <% end %>
    <div class="control">
      <%= f.file_field :image, accept: "image/png,image/jpeg,image/webp,image/gif", class: "input" %>
    </div>
    <%= f.error :image, wrap_with: { tag: "p", class: "help is-danger" } %>
    <p class="help"><%= t(".public_hint") %></p>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= f.submit t("actions.save"), class: "button is-primary" %>
    </div>
    <div class="control">
      <%= link_to t("actions.cancel"), events_path, class: "button is-light" %>
    </div>
  </div>
<% end %>
