<% content_for :title, t("public.reservations.index.title") %>

<h1 class="title"><%= t("public.reservations.index.title") %></h1>

<% if @events_with_groups.any? %>
  <% @events_with_groups.each do |event, groups| %>
    <div class="box">
      <% if event.image.attached? %>
        <figure class="image mb-4">
          <%= image_tag event.image.variant(resize_to_limit: [1200, 400]), class: "event-image" %>
        </figure>
      <% end %>
      <h2 class="title is-4"><%= event.title %></h2>
      <p class="subtitle is-6 has-text-grey">
        <%= t("public.reservations.index.prices",
              adult: number_to_currency(event.adult_price), kid: number_to_currency(event.kid_price)) %>
      </p>
      <% if event.description.present? %>
        <div class="content"><%= simple_format event.description %></div>
      <% end %>

      <div class="list has-visible-pointer-controls">
        <% groups.each do |group| %>
          <div class="level is-mobile mb-3">
            <div class="level-left">
              <div class="level-item">
                <div>
                  <p class="has-text-weight-semibold"><%= group_label(group) %></p>
                  <% if group.remaining_seats.positive? %>
                    <p class="is-size-7 has-text-grey">
                      <%= t("public.reservations.index.seats_left", count: group.remaining_seats) %>
                    </p>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="level-right">
              <%= link_to t("public.reservations.index.book"),
                    new_public_group_reservation_path(group), class: "button is-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="notification is-light">
    <%= t("public.reservations.index.empty") %>
  </div>
<% end %>
