<% content_for :title, t("public.reservations.index.title") %>

<% if params[:unavailable].present? %>
  <div class="notification is-warning">
    <%= t("public.reservations.unavailable") %>
  </div>
<% end %>

<% if @events_with_groups.any? %>
  <% @events_with_groups.each_key do |event| %>
    <div class="box reservation-event-card">
      <% if event.image.attached? %>
        <figure class="image mb-4">
          <%= image_tag event.image.variant(:header), class: "event-image",
                style: "view-transition-name: #{reservation_image_transition_name(event)}" %>
        </figure>
      <% end %>
      <p class="title is-4"><%= event.title %></p>
      <p class="subtitle is-6 has-text-grey">
        <%= t("public.reservations.index.prices",
              adult: number_to_currency(event.adult_price), kid: number_to_currency(event.kid_price)) %>
      </p>
      <% if event.description.present? %>
        <div class="content"><%= simple_format event.description %></div>
      <% end %>

      <%= link_to t("public.reservations.index.book"),
            new_public_event_reservation_path(event),
            class: "button is-primary is-medium is-fullwidth" %>
    </div>
  <% end %>
<% else %>
  <div class="notification is-light">
    <%= t("public.reservations.index.empty") %>
  </div>
<% end %>
