<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || t("public.title") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">

    <%= stylesheet_link_tag "bulma.min", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <p class="title"><%= t("public.title") %></p>
          <p class="subtitle"><%= t("public.subtitle") %></p>
        </div>
      </div>
    </section>

    <main class="section">
      <div class="container">
        <%= render "shared/flash" %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
